body{
  background-color: #ff1744;
  height: 70px;
  border: 50px 50px;
  border: solid #ff1744;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-decoration-color: white;
}

header{
  background-color: #0d47a1;
  color: white;
  height: 70px;
  border: 50px 50px;
  border: solid #ffffff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff00;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background: rgba(0, 0, 0, 0);
  color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.home {
  background-color: #fddddf;
  color: white;
}

/* adds a cool footer*/
@media (max-width: 400px) {
   #copyright {
      text-align: center;
   }
   #social > div{
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
   }
}

  .column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
 .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
   float: right;
   display: block;
 }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
}
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
 }
.counter{
  padding:8px;
  color:#ccc;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
social-media{
  width: 30px;
  height: 30px;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
}

.html {width: 40%; background-color: #4CAF50;} /* Green */
.css {width: 60%; background-color: #2196F3;} /* Blue */
.js {width: 25%; background-color: #f44336;} /* Red */
.tweaks {width: 10%; background-color: #808080;} /* Dark Grey */

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  text-decoration-color: white;
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #ddd;
}
